#data {
    display: flex;
    flex-direction: row;
    margin:auto;
    align-items: center;
    width: 70%;
    margin-bottom: 1em;
}

#tweets {
    width: 70%;
    height: 30em;
    overflow-x: auto;
    overflow-y: hidden scroll;
}

#tweets p {
    border-radius: 15px;
    margin-bottom: 0;
    padding:0.5em;
}
.pos {
    background-color: rgba(0,255,0,0.5);
}
.neg {
    background-color: rgba(230, 30, 30, 0.5);
}
.neu{
    background-color: rgba(0,0,255,0.3);;
}
#tweets div {
    margin-bottom: 1em;
}
/* width */
#tweets::-webkit-scrollbar {
    width: 10px;
    height: 30px;
  }
  
  /* Track */
  #tweets::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #tweets::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #tweets::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


#my-chart.bar {
    /* border-left: 50px; */
    /* float: right; */
    height: 150px;
    max-width: 300px;
    margin: 0 auto;
  }

