#data {
    margin:auto;
}

#tweets {
    width: 70%;
    height: 30em;
    overflow-x: auto;
    overflow-y: hidden scroll;
}

#tweets p {
    border-radius: 15px;
    margin-bottom: 0;
    padding:0.5em;
    /* background-color: rgba(170, 255, 170, 0.712); */
}
.pos {

}
.neg {

}
.neu{

}
#tweets div {
    margin-bottom: 1em;
}
/* width */
#tweets::-webkit-scrollbar {
    width: 10px;
    height: 30px;
  }
  
  /* Track */
  #tweets::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  #tweets::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #tweets::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }